<app-header></app-header>
<h3>User attributes</h3>
<hr>
<div>
  <p class="list-group-item-heading">Saved instructions sheets ({{savedInstructionSheets.length}} items):</p>
  <ul class="list-group-item-heading" *ngFor="let savedInstructionSheet of savedInstructionSheets; let i = index">
    <li *ngIf="showSavedInstructionSheets[i]" class="list-group-item"><a href={{savedInstructionSheet.url}}>{{savedInstructionSheet.name}}</a>
      <button class="btn btn-xs btn-danger pull-right" (click)="deleteSavedInstructionSheet(savedInstructionSheet, i)">
        Delete
      </button>
    </li>
  </ul>
</div>
<hr>
<div>
  <p class="list-group-item-heading">Recently downloaded instructions sheets
    ({{recentlyDownloadedInstructionSheets.length}} items):</p>
  <ul class="list-group-item-heading"
      *ngFor="let recentlyDownloadedInstructionSheet of recentlyDownloadedInstructionSheets; let i = index">
    <li *ngIf="showRecentlyDownloadedInstructionSheets[i]" class="list-group-item"><a
        href={{recentlyDownloadedInstructionSheet.url}}>{{recentlyDownloadedInstructionSheet.name}}</a>
      <button class="btn btn-xs btn-danger pull-right"
              (click)="deleteRecentlyDownloadedInstructionSheet(recentlyDownloadedInstructionSheet, i)">Delete
      </button>
    </li>
  </ul>
</div>
