<app-header></app-header>
<p *ngIf="IsRouteBasemodelNotFound() && IsToDisplayErrorMessage" class="text-danger bg-danger">The base model was not
  found. Please, enter a base model.</p>
<p class="text-info">Enter a base model:</p>
<input class="form-control" required type="text" name="inputBasemodel" pattern="^[0-z]+$" ngModel
       #inputBasemodel="ngModel">
<div class="help-block" *ngIf="!inputBasemodel.valid && inputBasemodel.touched">Please enter a combination of numbers
  and letters!
</div>
<button (click)="getBasemodel(inputBasemodel.value)" class="btn btn-default" [disabled]="!inputBasemodel.valid">Get
  instruction sheets
</button>
<hr>
<router-outlet></router-outlet>
