<app-header></app-header>
<div class="container">
  <!--<p class="text-info">Click on "Choose file" to read a barcode and then "Search" to find install sheets.</p>-->
  <!--<img width="320" height="240" src="" name="picturePreview" id="picturePreview" style="border:1px solid black"/>-->
  <!--<br/>-->
  <!--<input required (change)="OnBarcodeFileInputChanged($event.target.files[0])" name="barcodeFileInput" id="barcodeFileInput" type="file" accept="image/*;capture=camera" #barcodeFileInput="ngModel"/>-->
  <!--<span class="help-block" *ngIf="!barcodeFileInput.valid && barcodeFileInput.touched">Please choose a file!</span>&ndash;&gt;-->
  <!--<br/>-->
  <!--<pre>{{barcodeFileInput | json}}</pre>-->
  <!--<br/>-->
  <!--<button (click)="onStartDecode(barcodeFileInput)" name="startDecode" id="startDecode" class="btn btn-primary">Search</button>-->
  <!--<div id="codeResult"></div>-->
</div>
