<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-collapse"> <!-- removed collapse -->
      <ul class="nav navbar-nav">
        <li><a href="src/view/barcode/quaggajs.html">Enter Barcode manually</a></li>
        <li><a href="src/view/barcode/quaggajs.html">Read Barcode using phone</a></li>
        <li><a href="src/view/barcode/quaggajs.html">Most recent downloads</a></li>
        <li><a href="src/view/barcode/quaggajs.html">Saved downloads</a></li>
        <li class="dropdown"> <!-- removed open -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Brands <span class="caret"></span></a>
          <ul class="dropdown-menu" routerLinkActive="active">
            <li><a routerLink="/instructionsheets/allsteel">Allsteel</a></li>
            <!--<li><a routerLink="/instructionsheets/gunlocke">Gunlocke</a></li>-->
            <li><a routerLink="/instructionsheets/hon">HON</a></li>
            <!--<li><a routerLink="/instructionsheets/maxon">Maxon</a></li>-->
            <!--<li><a routerLink="/instructionsheets/paoli">Paoli</a></li>-->
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
