<app-header></app-header>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-collapse"> <!-- removed collapse -->
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active" [routerLink]="['/serialNumberManual']">Enter a Serial Number</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/serialNumberReader']">Scan Serial Number</a>
        </li>
        <li><a routerLinkActive="active" [routerLink]="['/basemodel']">Enter a Base Model</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/userAttributes']">Saved or Recently Used Instructions
          Sheets</a>
        </li>
        <li class="dropdown open"> <!-- returned open -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Brands <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
            <li routerLinkActive="active" *ngFor="let brand of brands">
              <a (click)="onSelectedBrand(brand.name)" [routerLink]="['/brand',brand.name]">{{brand.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
