<app-header></app-header>
<h3>User attributes</h3>
<hr>
<div>
  <app-instruction-sheet [instructionSheetsHeader]="savedInstructionSheetsHeader"
                         [instructionSheets]="savedInstructionSheets"
                         [instructionSheetType]="'SavedInstructionSheets'"
                         [operationType]="'delete'"></app-instruction-sheet>
</div>
<hr>
<div>
  <app-instruction-sheet [instructionSheetsHeader]="recentlyDownloadedInstructionSheetsHeader"
                         [instructionSheets]="recentlyDownloadedInstructionSheets"
                         [instructionSheetType]="'RecentlyDownloadedInstructionSheets'"
                         [operationType]="'delete'"></app-instruction-sheet>
</div>
