<app-header></app-header>
<h3>User attributes</h3>
<hr>
<div>
  <app-array-attributes [instructionSheetsHeader]="savedInstructionSheetsHeader"
                        [instructionSheets]="savedInstructionSheets"
                        [instructionSheetType]="'SavedInstructionSheets'"></app-array-attributes>
</div>
<hr>
<div>
  <app-array-attributes [instructionSheetsHeader]="recentlyDownloadedInstructionSheetsHeader"
                        [instructionSheets]="recentlyDownloadedInstructionSheets"
                        [instructionSheetType]="'RecentlyDownloadedInstructionSheets'"></app-array-attributes>
</div>
