<div>
  <p class="list-group-item-heading">Instruction sheets for the selected series:</p>
  <!--TODO: Create component to display instruction sheets-->
  <ul class="list-group-item-heading" *ngFor="let instructionSheet of instructionSheets; let i = index">
    <li class="list-unstyled"><a (click)="addRecentlyDownloadedInstructionSheet(instructionSheet, i)"
                                 href={{instructionSheet.url}} target="_blank">{{instructionSheet.name}}</a>
      <button class="btn btn-xs btn-info pull-right" (click)="addSavedInstructionSheet(instructionSheet, i)">Save
      </button>
    </li>
    <li *ngIf="showAddSavedInstructionSheetMsg[i]" class="list-group-item alert-info"><p>Saved successfully.</p></li>
  </ul>
</div>

