/* You can add global styles to this file, and also import other style files */
.page-header img {
  max-width: 132px;
  left: 30px;

  width: 9.76157%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .page-header img {
      height: 65px;

      width: 25.76157%;
  }
}

.btn-circle {
  /*border-radius: 50%;*/
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px 0;
  font-size: 8px;
  line-height: 0.95238084;
  border-radius: 10px;
}

.glyphicon {
  font-size: 10px;
}

.glyphicon-home {
  font-size: 18px;
}

.hni-list-group-item {
  margin-left: -30px;
  padding: 5px 5px;
}

.hni-list-group-item-anchor {
  margin: 50px 10px;
}

.footer {
  /*bottom: 0;*/
  padding-top: 10px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
