<br>
<br>
<br>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-md-10">
        <p class="text-muted">IT Service Desk: <a href="tel:1-800-433-7270">1-800-433-7270</a>
          <br>Instruction Sheets V.0.25
        </p>
      </div>
      <div class="col-xs-2 col-md-2">
        <a (click)="onGoingHome()" routerLinkActive="active" [routerLink]="['/options']"><span
            class="pull-right glyphicon glyphicon-home"></span></a>
      </div>
    </div>
  </div>
</footer>
